<!DOCTYPE html>
<html>
  <head>
    <title>All Movies Page</title>
    <link rel="stylesheet" href="/stylesheets/navBar.css">
    
  </head>
  <body>
    <h1> Movies - Subscriptions Web Site </h1>
  <h2>Movie Details:</h2>    
   
      <div style="border-style: solid; width: 30%; ">
      <h3><%= name %> </h3>
      <p>genres: <%= genres %></p>
      <img src="<%= pic %>">
      </div>
    <br>






  </body>
</html>