<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <h1> Log in Page </h1>
  <form action= "/checkLogin" method="GET">
    User Name: <input type ="text" name = "user" ><br>
    Password: <input type ="text" name = "pwd" > <br>
    <input type ="submit" value = "Login" ><br>
    New User?  <a href="/createAccount" >create account</a>
  
  </form>

  </body>
</html>
